<div style="background-color: black; padding: 5px; margin-bottom: 10px">
  <h3 style="text-align: center; color: white">
    <i class="fa-regular fa-calendar"></i> Método de fecha
  </h3>
</div>
<div class="pyramid-container">
  <div
    style="
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 10px 5px;
      gap: 10px;
    "
  >
    <p-button
      text="true"
      icon="fa-solid fa-angles-left"
      (onClick)="changeDate(-1)"
    ></p-button>

    <p-calendar
      [(ngModel)]="selectedDate"
      (onSelect)="onDateChange()"
      dateFormat="dd/mm/yy"
      showIcon="true"
      inputId="icondisplay"
    ></p-calendar>
    <p-button
      text="true"
      icon="fa-solid fa-angles-right"
      (onClick)="changeDate(1)"
    ></p-button>
  </div>

  <div class="pyramid">
    <div *ngFor="let row of pyramid" class="row">
      <p
        class="num"
        *ngFor="let num of row; let i = index"
        [class.alt-color]="row.length % 2 === 0 ? i % 2 !== 0 : i % 2 === 0"
        [class.triangle]="
          (row.length == 7 && i == 1) ||
          (row.length == 6 && row.length - i > 4) ||
          (row.length == 5 && i == 0)
        "
      >
        {{ num }}
      </p>
    </div>
  </div>
</div>

<div style="display: flex; justify-content: center; width: 100%">
  <app-cruzeta
    [primero]="pyramid[7][0] % 10"
    [segundo]="(pyramid[6][0] + pyramid[7][0]) % 10"
    [tercero]="(pyramid[6][1] + pyramid[7][0]) % 10"
  ></app-cruzeta>
</div>

<app-footer></app-footer>
